.value-editor{
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(100,100,100,0.6);
	top:0px;
	display:none;
}.value-editor.visible{
	display:block;
}
.value-editor .window{
	margin:0 auto;
	width:300px;
	border-radius:4px;
	background-color:rgba(60,60,60,0.9);
	top:50%;
	position:relative;
	transform:translateY(-50%);
	text-align:middle;
	padding-bottom:10px;
	
}
.value-editor .window .close-button{
	width:20px;
	height:20px;
	position:absolute;
	top:5px;
	right:5px;
	cursor:pointer;
}
.value-editor .window .field{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	min-height:45px;
}
.value-editor .window .field .key{
	display:block;
	font-size:16px;
	font-weight:bold;	
	white-space: nowrap;
	overflow: hidden;
	box-sizing:border-box;
	height:100%;
	margin-right:10px;
	float:left;
	min-width:46px;
}
.value-editor .window .field .value{
	font-size:14px;
	color:#000800;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing:border-box;
	height:100%;
	display:none;
}
.value-editor .window .field .value.visible{
	display:block;
}
.value-editor .window .field .value.top{
	padding-right:20px;
}
.value-editor .window .field .value.invalid input[type="text"]{
	border-color:red;
}
.value-editor .window .field .value input[type="text"]{
	margin:0;
	padding:0;
	border:0px;
	box-sizing:border-box;
	font-size:16px;
	outline:0;
	vertical-align:top;
	border-radius:3px;
	background-color:transparent;
	border:1px solid #999999;
	padding:2px;
	width:100%;
}
.value-editor .window .field textarea.value{
	margin:0;
	margin-top:5px;
	padding:0;
	border:0px;
	box-sizing:border-box;
	font-size:16px;
	vertical-align:top;
	border-radius:3px;
	background-color:transparent;
	border:1px solid #999999;
	padding:2px;
	width:100%;
	height:65px;
	resize: none;
}
.value-editor .window .field textarea.value.visible{
	display:inline-block;
}
.value-editor .window .field .value.editable:focus{
	border:1px solid #ddddbb;
}
.value-editor .window .save{
	display:block;
	background-color:transparent;
	border:2px solid #000300;
	border-radius:3px;
	height:25px;
	font-size:14px;
	left:50%;
	transform:translateX(-50%);
	position:relative;
	cursor:pointer;
}
.value-editor .window .save:hover{
	border-color:#466eb7;
	color:#466eb7;
}
.value-editor .window .save:disabled{
	border-color:#555555;
	color:#555555;
}
.value-editor .window .save.saved{
	border-color:#000000;
	coloR:#0f5a0f;
}
.value-editor .window .save.saved:disabled{
	border-color:#556655;
	color:#555555;
}